*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fffaf7;
    
}

:root{
    --primaryColor:#283455;
}

.entire-header{
    position: fixed;
    top: 0px;
    width: 100%;
    background: inherit;
    z-index: 10;
}
.heading-2{
    color:var(--primaryColor);
    padding-left: 30px;
    padding-top: 160px;
    width: 100%;
    z-index: 5;
    overflow: auto;
}
.first-heading-container{
padding-left:25px;
background-color:var(--primaryColor);
color:white;
padding-top: 8px;
padding-bottom:8px;
/* line-height: 1.5; */
}

/* style for desktop view (screen width >768px) */
@media screen and (min-width:768px){
    .first-heading-container{
        background-color:var(--primaryColor);
        color:white;
        display: flex; 
        padding: 10px;
        padding-top: 20px;
        }
        .menubar{
            padding-top: 25px;
            padding-bottom: 5px;
        }
        .first-heading{
            padding-right: 260px;
        }
        .offer-ends-div{
              width:60% ;
        }
        .special-offer-span{
            font-size: larger;
        }
        .times-icon{
            margin-right: 50px;
            cursor: pointer;
        }
        
        .terms-apply-in-the-heading{
            color: white;
            font-size: medium;
        }
}

.first-heading-div{
    width: 70%;
}

.special-offer-span{
    font-size: small;
    padding-left: 8px;
}
.times-icon +.special-offer-span{
    margin: 10px;
}

.terms-apply-in-the-heading{
    color: rgb(228, 224, 224);
    font-size: medium;
    margin-left: 70px;
}

/* style for mobile view view (screen width <767px) */
@media (max-width:767px){
    .search-icon{
        display: none;
    }
    .user-icon{
        display: none;
    }
     .head-icons + .head-icons{
        margin: 12px;
     }
    .svg1{
        display: none;
    }
    .menubar{
        display: flex;
        align-items: center;
        /* justify-content: space-around; */
        width: 100%;
        color: var(--primaryColor);
        margin-bottom: 18px;
        margin-top: 30px;
    }
    .menu-icons{
        margin-left: 55px;
    }
    .broklin{
        margin-left: 20px;
    }
    .email-icon,.portfolio-icon{
        margin-right: 10px;
    }
}
/* style for desktop view (screen width >768px) */
@media screen and (min-width:768px){
    .TwobarsIcon{
        display: none;
    }
    .menubar{
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: var(--primaryColor);
        margin-bottom: 18px;
    }
    .svg1{
        padding-right: 180px;
    }
    .brooklin-div{
        padding-right: 140px;
        font-size: larger;
        /* font-family: 'lobster';
        font-weight: 400; */
    }
    
    .menu-icons{
        padding-right: 20px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    .menu-icons span{
        margin: 10px;
    }
}
    
.body1{
    width:80%
}
.body2{
    width:85%;
    margin-top: 20px;
}
.body-3-link{
    text-decoration: none;
    padding-left: 8px;
}
.body-3{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid rgb(52, 52, 93);
    border-radius: 15px;
    padding: 15px 30px;
    color: var(--primaryColor);
    background: none;
    font-size: medium;
    cursor: pointer;
}
.body-3:hover{
    background-color: #283455;
    color: white;
}
/* style for desktop view (screen width >768px) */
@media screen and (min-width:768px){
    .heading-2{
        color:var(--primaryColor);
        display: flex;
        }
         .body1-div{
             width: 43%;
             padding-left: 150px;
             font-size: larger; 
             margin-top: 60px;
        } 
         .heading-2-left{
            width: 44%;
            padding-left: 250px;
            margin-top: 30px;
        } 
        .body1{
            font-family: ToledoTS-Bold;
            line-height: 1.5; 
        }
        
        .body2{
            line-height: 1.5;
            margin-bottom: 20px;
        }
}

.Hero-image img {
    display: block;
    max-width: 100%;
}
/* style for desktop view (screen width >768px) */
@media screen and (min-width:768px){
    .Hero-image .mobile-view-bed{
        display: none;
    }
    .hero-write-up-container{
        color:#283455;
        display: flex; 
         margin-left: 150px   
    }
    .all-sheets{
        padding-right: 50px;
        margin-left: 20px;
        margin-top: 50px;
    }
    .perfect-sheet-div{
        width:35%;
        margin-left: 200px; 
        margin-top: 30px;  
    }
    .rest-asured-heading{
        width:40%;
        margin-top: 30px;
    }
    
}
/* style for mobile view view (screen width <767px) */
@media screen and (max-width:767px){
    .Hero-image .all-sheets{
        display: none;
    }
    .Hero-image .mobile-view-bed {
        display: block;
    }
    .mobile-view-bed{
      margin:auto
    }
    
}

.hero-write-up-container{
        margin-top: 30px;
        color:#283455;
        width: 80%;
        padding-left:25px;          
}

.perfect-sheet-div{
    margin-top: 15px;   
}

.shop-link{
    text-decoration: none;
    color: var(--primaryColor);
    font: medium;
}

.shop-link-div{
    margin-top: 20px;
    margin-left: 4px;
    border: 1px solid rgb(52, 52, 93);
    max-width: 42%;
    padding: 8px 10px;
    border-radius: 15px;
    color: var(--primaryColor);  
}
/* style for mobile view view (screen width <767px) */
@media screen and (max-width:767px){
    .shop-best-seller{
    text-align: center;
  }
}
.shop-by-category{
    font-family: ToledoTS-Bold;
    margin-top: 40px; 
    }
/* style for desktop view (screen width >768px) */
@media screen and (min-width:768px){
    .shop-link-div{
        max-width: 15%;
        margin-left: 180px;
        padding: 10px 20px
    }
}

.shop-by-category-div{
    width: 60%;
    margin-left: 100px;
    color: var(--primaryColor);
    margin-bottom: 30px;
}
/* style for desktop view (screen width >768px) */
@media screen and (min-width:768px){
    .shop-by-category-div{
        margin-left: 480px;
        font-size: larger;
        margin-top: 50px;
    }
}
 .shop-bed-image-link-div img{
    display: block;
    max-width: 100%;
} 
/* style for desktop view (screen width >768px) */
 @media screen and (min-width:768px){
    .shop-bed-image-link-div .shop-bed-image-for-mobile-view{
        display: none;
    }
    .shop-bath-image-div .shop-bath-image-for-mobile-view{
        display: none;
    }
    .shop-comforters-image-for-mobile-view{
      display: none;
    }
    .shop-bath-image-for-mobile-view{
      display: none;
    }
    .lounge-wear-div .shop-bath-for-mobile-view{
      display: none;
    }
    .shop-best-seller{
      font-weight: bold;
      font-size: large;
    }
    .shop-bath{
      font-weight: bold;
      font-size: large;
    }
    
    
} 
/* style for mobile view view (screen width <767px) */
 @media screen and (max-width:767px){
    .shop-bed-image-link-div .shop-bed-image-for-desktop-view{
        display: none;
    }
    .shop-bath-image-div .shop-bath-image-for-desktop-view{
        display: none;
    }
    .shop-bath-image-div .shop-comforters-for-desktop{
      display: none;
    }
    .lounge-wear-div .shop-bath-image-for-desktop-view{
      display: none;
    }
    .decor-image-div .shop-best-sellers-for-desktop{
      display: none;
    }
    .shop-bath{
      margin-top: 20px;
    }
    .shop-bath-for-desktop{
      margin-top: 10px;
    }
    .shop-best-seller-image-for-mobile{
      margin-top: 10px;
      height: 132px;
    }
    .shop-bed-and-shop-bath-div{
        display: flex;
        margin-left: 20px;
    }
    .shop-bed{
        margin-bottom: 8px;
        text-align-last: center;
    }
    .Upgrades-paragrahy{
        padding-right: 20px;
    }
    .shop-bath-link{
        text-decoration: none;
        color: var(--primaryColor);
    }
    .shop-bed-link{
        text-decoration: none;
        color: var(--primaryColor);
    }
    .Decor-div{
        margin-top: 20px;
    }
    .shop-comforters-image-for-mobile-view{
      margin-top: 5px;
    } 
    .shop-comforters{
      text-align: center;
    }
    .shop-best-seller{
      font-weight: bold;
      font-size: large;

    }
    .shop-bath{
      text-align: center;
      font-weight: bold;
      font-size: large;
    }
} 

 .decor-image-div img{
    display: block;
    max-width: 100%;
  } 
/* style for desktop view (screen width >768px) */
 @media screen and (min-width:768px){
    .decor-image-div .decor-image-mobile{
        display: none;
    }
    .shop-lounge-wear .lounge-wear-image-for-mobile{
        display: none;
    }
    .shop-lounge-wear-and-shop-decor-div{
        display: flex;
    }
    .shop-bed-and-shop-bath-div{
        display: flex;
    }
    .container-for-bed-bath-lounge-and-decor{
        display: flex;
        margin-left: 200px;
        width: 100%;
    }
    .pop-up{
        transition: transform 0.2s ease-in-out;
    }
    .pop-up:hover{
        transform: scale(0.9);
        transition: transform 0.2s ease-in;
    }
    .shop-bed-link{
        text-decoration: none;
        color: var(--primaryColor);
        text-align: center;
    }
    .shop-bath-link{
        text-decoration: none;
        color: var(--primaryColor);
        text-align:center ;
    }
    .shop-lounge-wear-link{
        text-decoration: none;
        color: var(--primaryColor);
        text-align:center ;
    }
    .Decor-link{
        text-decoration: none;
        color: var(--primaryColor);
        text-align:center ;
    }
    .container-for-bed-bath-lounge-and-decor{
        margin-top: 50px;
    }
    .decor-image-div .shop-best-seller-image-for-mobile{
      display: none;
    }
} 
/* style for mobile view view (screen width <767px) */
 @media screen and (max-width:767px){ 
     .decor-image-div .decor-image-desktop{
        display: none;
    }
    .decor-image-div.decor-image-mobile{
        display: block;
    }
    .shop-lounge-wear .lounge-wear-image-for-desktop{
        display: none;
    }
    .shop-lounge-wear .lounge-wear-image-for-mobile{
        display: block;
    }
     .shop-lounge-wear-and-shop-decor-div{
        display: flex;
    }
    .lounge-wear-div{
        margin-left: 20px;
    }
    .decor-image-div{
        margin-left: 10px;
    }
    .shop-lounge-wear-link{
        text-decoration: none;
        color: var(--primaryColor);
    }
    .shop-lounge-wear-head{
        margin-left: 20px;
        margin-top: 40px;
    }
    .shop-lounge-wear-prargraph{
        margin-left: 20px;
    }
    .Decor-link{
        text-decoration: none;
        color: var(--primaryColor);
    }
    .Decor-head{
        margin-left: 30px;
        margin-top: 20px;
    }
    .Decor-paragraph{
        padding-right: 10px;
        text-align:center ;
    }  
} 
.as-seen-in-div{
    background-color: #F9F3ED;
    padding-left: 30px;
    margin-top: 40px;
}
.as-seen-in-heading{
    color: var(--primaryColor);
    padding-top: 40px;
}
.sellers{
    color: var(--primaryColor);
    margin-left: 40px; 
    font-size: large; 
}

/* animination styling */
.logo-animation-div img{
    margin: 10px;    
}

.logo-animation-div{
    display: flex;
    overflow: hidden;
    border: 3px solid #F9F3ED;
    border-radius: 5px;
    padding-left: 60px;
}
/* style for mobile view view (screen width <767px) */
@media screen and (max-width:767px){ 
    /* animation properties */
.logo-animation{
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: my-animation 10s linear infinite;
    -webkit-animation: my-animation 10s linear infinite;
    animation: my-animation 10s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-100%); }
}
/* for Chrome */
@-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
}
@keyframes my-animation {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
} 
}
/* style for desktop view (screen width >768px) */
@media screen and (min-width:768px){
    .sellers{
        display: none;
    }
     .as-seen-in-and-shop-our-best-div{
        display: flex;
        align-items: center;
    } 
    .as-seen-in-heading{
        padding-left: 80px;
    }
    .logo-animation-div{
        margin-top: 30px;
    }
    .shop-best-seller{
        margin-right: 60px;
        text-align: center;
    }
}
.shop-our-best-and-shop-our-best-seller-div{
    display: block;
}
/* style for mobile view view (screen width <767px) */
@media screen and (max-width:767px){ 
    .shop-our-best-link-div{
        display: none;
    }
}
/* style for desktop view (screen width >768px) */
@media screen and (min-width:768px){
    .shop-link-div{
        display: none;
    }
    .shop-our-best-link{
        text-decoration: none;
        color: var(--primaryColor);
    }
    .shop-our-best-link-div{
        margin-left: 60px;
        font-size: large;
        font-weight: bold;
        border: 1px solid #283455;
        margin-top: 30px;
        border-radius: 15px;
        padding: 8px 12px;
    }
}
.our-customer-cant-stop-talking-div{
    background-color: #F9F3ED;
    margin-top: 50px;

}
.Our-Customer-Reviews{
    color: var(--primaryColor);
    padding-top: 30px;
    text-align: center;
    font-family: 'Lato';
    font-weight: 400;
    /* font-family: 'BrandonTextWeb-Light'; */ 
}
.scroll-div{
    color: var(--primaryColor);
}
.cant-stop-talking-about-them{
    width: 50%;
    margin-left: 70px;
    text-align: center;
    margin-top: 30px;
}
.testifier-paragraph{
    color: var(--primaryColor);
    margin-top: 40px;
    padding-left: 30px;
    width: 90%;
    text-align: center;
    line-height: 1.5;  
}
.carousel-image{
    margin-top: 30px;
    margin-left: 110px;
}

 /* text carousel styling / Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    background-color:#F9F3ED;
    color: var(--primaryColor);
  }
  
  /* Make the text,images & star invisible by default */
  .Containers {
    display: none;
  } 
  /* Make the first container visible by default */
.Containers:first-child {
    display: block;
  }
   
  /* forward & Back buttons */
  .Back, .forward {
    cursor: pointer;
     position: absolute;
    padding-top:10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom:4px;
    margin: 12px;
    color: #283455;
    font-weight: bold;
    font-size: medium;
     transition: 0.4s ease; 
    border: 1px solid #283455;
    height: 8vh;
    border-radius: 50%; 
    user-select: none; 
  }
  
  /* Place the "forward button" to the right */
  .forward {
    right: 0;
    margin-right: 73px;
    
  }
  .Back{
    margin-left: 73px;
  }
  
  /*when the user hovers,add a blue background with some little opacity */
   /* .Back:hover, .forward:hover {
    background-color:rgba(23, 23, 91, 0.5);
  }  */
  
  /* Caption testifier */
  .testifier {
    color: var(--primaryColor);
    margin-left: 130px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  /* Worknumbering (1/3 etc) */
  .testifier-message {
    font-size: 14px;
    padding: 10px 14px;
    position: absolute;
    top: 0;
  }
   .read-our-review{
    margin-top: 50px;
  }
  .read-our-review-link{
    text-decoration: none;
    margin-left: 55px;
    border: 1px solid  #283455;
    border-radius: 22px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;background-color: var(--primaryColor);
    color: white;
  } 
  
  /* The circles or bullets and indicators */
  .dots-div{
    margin-top: 10px;
    padding-bottom: 50px;
  }
  .dots {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 3px;
    background-color: rgb(214, 228, 228);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
  }
  
  .enable, .dots:hover {
    background-color: #283455;
  }
  
  /* Faint animation */
   /* .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.4s;
    animation-name: fade;
    animation-duration: 1.4s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .5}
    to {opacity: 2}
  }
  
  @keyframes fade {
    from {opacity: .5}
    to {opacity: 2}
  } */
  .slide-and-dot-div{
    margin-top: 50px;
    background-color:  #F9F3ED;
  }
  .award-winning-sheets{
    padding-left: 30px;
    padding-right: 20px;
    margin-top: 30px;
    font-weight: bold;
    text-align: center;
    color: var(--primaryColor);
  }
  .classic-percale-div{
    color: var(--primaryColor);
    margin-left:20px;
  }
  .luxe-sateen-div{
    color: var(--primaryColor);
  }
  .classic-percale-div-and-luxe-sateen-div{
    display: flex;
    margin-top: 40px;
  }
  .classic-percale-heading{
    margin-top: 20px;
    width: 70%;
  }
  .luxe-sateen-heading{
    margin-top: 20px;
  }
  .luxe-sateen-image{
    margin-left: 10px;
    height: 230px;
  }
  .luxe-sateen-heading-and-paragraph{
    margin-left: 10px;
  }
  .classic-percale-paragraph{
    margin-top: 20px;
    width: 75%;
  }
  .luxe-sateen-paragraph{
    margin-top: 20px;
    width: 80%;
  }
  .shop-classic-percale-link{
    text-decoration: none;
    border: 1px solid #283455;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 15px;
    color: var(--primaryColor);
    font-weight: bold;
  }
  .shop-classic-percale-link-div{
    margin-top: 30px;
  }
  .shop-luxe-sateen-link{
    text-decoration: none;
    border: 1px solid #283455;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 15px;
    color: var(--primaryColor);
    font-weight: bold;
  }
  .shop-luxe-sateen-div{
    margin-top: 30px;
    margin-left: 8px;
  }
  .classic-percalye-div-and-luxe-sateen-div{
    display: flex;
    margin-top: 40px;
  }
  .footer-div{
    background-color:rgb(221, 227, 236);
     color: #0F1528; 
    margin-top: 50px;
  }
  .get-the-good-sheet-heading{
    padding-top: 30px;
    margin-left: 20px;
    width: 40%;
  }
  .get-the-good-sheet-paragraph{
    margin-left: 20px;
    margin-top: 20px;
    color: #666976;
    font-size: smaller;
  }
  .get-the-good-sheet-paragraph2{
    margin-left: 20px;
    margin-top: 30px;
    padding-right: 25px;
    color: #999a9c;
    font-size: smaller;
  }
  .form-email{
    border: 1px solid white;
    border-radius: 20px;
    color:rgb(117, 117, 117);
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 100px;
    cursor: pointer;
  }
  .form-div{
    margin-top: 30px;
    margin-left: 20px;
  }
  .email-and-arror{
    display: flex;
    position: relative;
  }
  .arror{
    position: absolute;
    top:40%;
    transform:translateX(-40%);
    right: 60px;
    cursor: pointer;   
  }
   .arror-button{
    border: none;
  }
  /* .arror-button:focus{
    border: 1px solid #283455;
    outline: #283455;
  } */ 
  .last-writing-footer1{
    display: flex;
    margin-top: 40px;
    margin-left: 20px;
  }
  .about-link{
    text-decoration: none;
    color:  rgb(102, 127, 164);
  }
  .Support{
    margin-left: 100px;
  }
  .last-writing-footer2{
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    color: rgb(102, 127, 164);
  }
  .FAQ{
    margin-left: 80px;
  }
  .faq-link{
    text-decoration: none;
    color:  rgb(102, 127, 164);  
  }
  .last-writing-footer3{
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    color: rgb(102, 127, 164)
  }
  .press-link{
    text-decoration: none;
    color:  rgb(102, 127, 164);
  }
  .returns-and-exchanges{
    margin-left: 105px;
  }
  .returns-and-exchanges-link{
    text-decoration: none;
    color:  rgb(102, 127, 164);
  }
  .our-stores-link{
    text-decoration: none;
    color:  rgb(102, 127, 164);
  }
  .last-writing-footer4{
    display: flex;
    margin-top: 20px;
    margin-left: 18px;
    color: rgb(102, 127, 164)
  }

  .brooklinen-rewards{
    margin-left: 72px;
  }
  .brooklinen-rewards-link{
    text-decoration: none;
    color:  rgb(102, 127, 164);
  }
  .last-writing-footer5{
    display: flex;
    margin-top: 20px;
  }
  .care-guide-link{
    margin-right: 68px;
    margin-left: 16px;
    text-decoration: none;
    color:  rgb(102, 127, 164);
  }
  .tread-hospitality-link{
    width:40%;
    text-decoration: none;
    color:  rgb(102, 127, 164);
  }
  
    .last-writing-footer6{
    display: flex;
    margin-top: 20px;
    margin-left: 16px;
    color: rgb(102, 127, 164)
  }
  .contact{
    margin-left: 88px;
  }
  .last-writing-footer7{
    display: flex;
    margin-top: 20px;
    margin-left: 12px;
    color: rgb(102, 127, 164)
  }
  .careers{
    margin-left: 35px;
  }
  .social-media{
    display: flex;
    margin-top: 30px;
    margin-left: 20px;
  }
  .social-media, div{
    gap: 5px;
  }
  .copywrite-div{
    display: flex;
    font-size: small;
    color: var(--primaryColor);
    margin-top: 20px;
    margin-left: 20px;
    padding-bottom: 40px;
    margin-bottom: 20px;
  }
  .copywrite-div,div{
    gap: 10px;
  }
  .shop-bath{
    margin-left: 20px;
  }

  
  
  



  
  
  












































